@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO</h1>
    <p>Para agregar un equipo al listado, toca la seccion "equipos" <a href="http://localhost:5150/Equipo">o tocando aca!</a></p>
</div>

